 <% if user_signed_in? %>
   <div class="row">
     <aside class="col-md-4">
     <section class="user_info">
        <%= render 'shared/user_info' %>
     </section>
     <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
     </section>
      </aside>
     <div class="col-md-8">
 <h3>Micropost Feed</h3>
          <%= render 'shared/feed' %>
      </div>
    </div>
 <% else %>
 <div class="center jumbotron" id="home">
   <h1>Change is here @ TOUCH</h1>
   <h2>“Make Applications Great Again #MAGA”</h2>
   <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
 </div>
 <% end %>
