<% provide :title, "E-mail confirmation" %>
<h1>Resend confirmation instructions</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <div id="error_explanation" >
     <%= devise_error_messages! %>
    </div>

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>

      <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
   <% end %>

<%= render "devise/shared/links" %>
 </div>
</div>
