<% provide :title, "Edit Profile" %>
<h1>Edit <%= resource_name.to_s.humanize %></h1>


<div class="row">
 <div class="col-md-6 col-md-offset-3">
   <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
   <div id="error_explanations">
     <%= devise_error_messages! %>
   </div>
    
        <%= f.label :name %>
        <%= f.email_field :name, autofocus: true,  class: 'form-control' %>

        <%= f.label :username %><em> (Lowercase alphabets only)</em>
        <%= f.email_field :username, autofocus: true,  class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true,  class: 'form-control' %>

       <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
         <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
       <% end %>

       <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
       <%= f.password_field :password, autocomplete: "off",  class: 'form-control' %>
       <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
       <% end %>

       <%= f.label :password_confirmation %>
       <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>

       <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
       <%= f.password_field :current_password, autocomplete: "off",  class: 'form-control' %>

       <%= f.submit "Update",  class: "btn btn-primary"  %>
   <% end %>

     <h2>Delete my account</h2>

     <p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,  class: "btn btn-primary"  %></p>

     <li><%= link_to "Back", :back %></li>
  </div>
</div>
