<% provide :title, "Sign up" %>
<h1>Sign up</h1>
<div class="row">
 <div class="col-md-6 col-md-offset-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div id="error_explanation" >
       <%= devise_error_messages! %>
    </div>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :username %>
      <em>(Lowercase alphabets only)</em>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true,  class: 'form-control'  %>

      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off",  class: 'form-control'  %>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",  class: 'form-control'  %>

      <%= f.submit "Sign up", class: "btn btn-primary" %>
  <% end %>

  <%= render "devise/shared/links" %>
 </div>
</div>
