<h2>Resend unlock instructions</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
     <%= devise_error_messages! %>

     <%= f.label :email %><br />
     <%= f.email_field :email, autofocus: true, class: 'form-control' %>

     <%= f.submit "Resend unlock instructions", class: "btn btn-primary" %>
   <% end %>

 <%= render "devise/shared/links" %>
 </div>
</div>
