<li>
    <%= link_to user.name, user %>
      <% if user_signed_in? and policy(user).destroy? %>
          | <%= link_to "delete", user, method: :delete,
                          data: { confirm: "You sure?" } %>
      <% end %>
</li>
