<% provide(:title, @user.name) %>
<div class="row">
 <aside class="col-md-4">
   <section>
     <h1>
       <%= @user.name %>
     </h1>
   </section>
     <section class="stats">
      <%= render 'shared/stats' %>
   </section>
 </aside>
  <div class="col-md-8">
      <%= render 'follow_form' if user_signed_in? %>
     <% if @user.microposts.any? %>
         <h3>Microposts (<%= @user.microposts.count %>)</h3>
           <ol class="microposts">
           <%= render @microposts %>
           </ol>
	   <%= will_paginate @microposts %>
      <% end %>
      <section class="micropost_form">
           <%= render 'shared/micropost_form' %>
      </section>
   </div>
</div>
