<% provide :title, "Change password" %>
<h1>Change your password</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
 <div id="error_explanation" >
  <%= devise_error_messages! %>
 </div>
  <%= f.hidden_field :reset_password_token %>

    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off",  class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",  class: 'form-control' %>

    <%= f.submit "Change my password", class: "btn btn-primary" %>
<% end %>
</div>
</div>

<%= render "devise/shared/links" %>
