@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
  }
.user {
   margin-top: 5em;
   padding-top: 0;
}
.content {
  display: block;
  margin-left: 60px;
 }
 .timestamp {
   color: $gray-light;
   display: block;
   margin-left: 60px;
}
} 

aside {
   textarea {
      height: 100px;
      margin-bottom: 5px;
  }
}


@mixin box_sizing {
 -moz-box-sizing:    border-box;
 -webkit-box-sizing: border-box;
 box-sizing:         border-box;
}
/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
   margin-bottom: 10px;
  }

}


/* typography */

h1, h2, h3, h4, h5, h6 {
 line-height: 1;
}

h1 {
 font-size: 3em;
 letter-spacing: -2px;
 margin-bottom: 30px;
 text-align: center;
}

h2 {
 font-size: 1.2em;
 letter-spacing: -1px;
 margin-bottom: 30px;
 text-align: center;
 font-weight: normal;
 color: #777;
}

p {
 font-size: 1.1em;
 line-height: 1.7em;
}

/* header */

#logo {
 float: left;
 margin-right: 10px;
 font-size: 1.7em;
 color: #fff;
 text-transform: uppercase;
 letter-spacing: -1px;
 padding-top: 9px;
 font-weight: bold;
 &:hover {
   color: #fff;
   text-decoration: none;
 }

}

/* Users index */

.users {
  list-style: none;
    margin: 0;
      li {
     overflow: auto;
    padding: 10px 0;
     border-bottom: 1px solid $gray-lighter;
   }
 }
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
   color: red;
   margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 17px;
  span {
    margin-left: 0px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

side {
  section.user_info {
  margin-top: 20px;
}

section {
  padding: 10px 0;
  margin-top: 20px;
  &:first-child {
    border: 0;
    padding-top: 0;
  }
span {
  display: block;
  margin-bottom: 3px;
  line-height: 1;
 }
 h1 {
  font-size: 1.4em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 0px;
  }
 }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}


.users.follow {
  padding: 0;
}

#home {
  background: url('trump.jpg') no-repeat center center;
  background-size: cover;
   min-height: 650px;
  h1 {
    color: #FFF;
  }
  h2 {
    color: #FFF;
    font-size: 300%;
  }
}
