<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Touch", root_path, id: "logo" %>
      <nav>
       <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",  root_path %></li>
	<% if user_signed_in? %>
	  <li><%= link_to "Users", users_path %></li>
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	       <%= current_user.name %><b class="caret"></b>
	    </a>
	    <ul class="dropdown-menu">
	       <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	       <li class="divider"></li>
	       <li>
	         <%= link_to "Log out", destroy_user_session_path, method: :delete %>
	       </li>
	    </ul>
	  </li>
	<% else %>
	  <li><%= link_to "Login", new_user_session_path %></li>
	<% end %>
      </ul>
     </nav>
  </div>
</header>
